<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Courses form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
</head>
<body>

<h3>Course Form</h3>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="course, stat: ${courses}">
        <th scope="row" th:text="${stat.index + 1}"></th>
        <td th:text="${course.id}"></td>
        <td th:text="${course.title}"></td>
        <td th:text="${course.description}"></td>
        <td th:text="${course.price}"></td>
        <td>
            <form th:action="@{courses/{id}/delete(id=${course.id})}" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger">
                    Delete
                </button>
            </form>
        </td>
        <td>
            <form th:action="@{courses/{id}/updateCourseForm(id=${course.id})}" method="POST">
                <button type="submit" class="btn btn-success">
                    Update
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
    <form th:action="@{/}">
        <button type="submit" class="btn btn-primary">
            Back to Home page
        </button>
    </form>

</body>
</html>