<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xxxxxx" crossorigin="anonymous" />

</head>
<body>
<p>Welcome to our Learning Center</p>
<br />



<form sec:authorize="hasAnyRole('ADMIN')" th:action="@{web/instructors}">
    <button class="btn btn-primary">
        Instructors
    </button>
</form>

<br>

<form sec:authorize="hasAnyRole('ADMIN' , 'INSTRUCTOR')" th:action="@{web/courses}">
    <button class="btn btn-primary">
        Courses
    </button>
</form>

<br>

<form sec:authorize="hasAnyRole('ADMIN' , 'INSTRUCTOR')" th:action="@{web/students}">
    <button class="btn btn-primary">
        Students
    </button>
</form>

<br>

<form th:action="@{/logout}" method="POST">
    <input class="btn btn-danger" type="submit" value="Logout" />
</form>
</body>
</html>