<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Save instructor</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />

</head>
<body>
<br/>
<form th:action="@{saveInstructor}" th:object="${instructor}" method="POST" class="form">
    <input type="text" th:field="*{name}" placeholder="name" />
    <input type="text" th:field="*{email}" placeholder="email" />
    <input type="text" th:field="*{youtubeChannel}" placeholder="youtube channel" />
    <input type="text" th:field="*{hobby}" placeholder="hobby" />
    <input type="submit" />
</form>
</body>
</html>