<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update course</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />

</head>
<body>
<br/>
<form th:action="@{updateCourses}" th:object="${course}" method="POST" class="form">
    <input type="hidden" name="_method" value="put">
    <input type="text" th:field="*{id}" placeholder="id" />
    <input type="text" th:field="*{title}" placeholder="title" />
    <input type="text" th:field="*{description}" placeholder="description" />
    <input type="text" th:field="*{price}" placeholder="price" />
    <input type="text" th:field="*{instructorId}" placeholder="instructorId" />


    <input type="submit" />
</form>
</body>
</html>