<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Instructor Form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xxxxxx" crossorigin="anonymous" />

</head>
<body>

<form th:action="@{update}" th:object="${instructor}" method="POST" class="container">
    <input type="hidden" name="_method" value="put">
    <br/>
    <input type="text" th:field="*{firstName}" placeholder="First name">
    <br/>
    <input type="text" th:field="*{lastName}" placeholder="Last name">
    <br/>
    <input type="text" th:field="*{email}" placeholder="Email">
    <br/>
    <input type="text" th:field="*{youtubeChannel}" placeholder="youtube channel">
    <br/>
    <input type="text" th:field="*{hobby}" placeholder="hobby">
    <br/>
    <input type="submit" value="submit" class="btn-primary">
</form>

</body>
</html>